.preloader {
    &__container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        //height: 100%;
        z-index: 20;
        & > * {
            position: relative;
            position: sticky;
            display: flex;
            margin-top: 20%;
            margin-bottom: 20%;
            top: 35%;
            //left: 0;
            width: 15vw;
            height: 15vw;
            //height: 100%;
            //width: 100%;
            transform: rotate(-55deg);
        }
    }   
}

.preloader__icon__container {
    position: relative;
    display: flex;
    width: 15vw;
    height: 15vw;
    margin: auto; 
    animation: spin__slip infinite 2s 0.5s running;
}


@keyframes spin__slip {
	0% {
		transform: rotate(0deg);
	}
	7% {
		transform: rotate(-25deg);
	}
	14% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(720deg);
	}
}
