$transitionTime: 600ms;
$softRed: #ffcccc;
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #00000055;
	transition: opacity $transitionTime ease-out;
	//.modal__revealed
	&__revealed {
		visibility: visible;
		opacity: 1;
		.modal__body._current {
			opacity: 1;
			visibility: visible;
			transform: perspective(1000px) translate(0px, 0px) rotateX(0deg) scale(1);
		}
		.modal__body._current._closing {
			opacity: 0;
			visibility: visible;
			transition: transform $transitionTime ease-out, opacity $transitionTime ease-out;
			transform: perspective(1000px) translate(0px, -100%) rotateX(70deg) scale(0.5);
		}
	}
	&__closing {
		visibility: visible;
		.modal__body._current {
			opacity: 0;
			visibility: visible;
			transition: transform $transitionTime ease-out, opacity $transitionTime ease-out;
			transform: perspective(1000px) translate(0px, -100%) rotateX(70deg) scale(0.5);
		}
	}
	//.modal__area
	&__area {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: hidden;
		visibility: hidden;
	}
	//.modal__body
	&__body {
		position: relative;
		width: 100%;
		visibility: hidden;
		display: flex;
  		height: 100%;
  		overflow: auto;
		opacity: 0;
		padding: 30px 10px;
		transition: transform $transitionTime ease-out, opacity 500ms ease-out;
		transform: perspective(1000px) translate(0px, 100%) rotateX(-70deg) scale(0.5);
	}
	//.modal__paper
	&__paper {
		position: relative;
		margin: auto;
		width: 500px;
		padding: 50px;
		background-color: $softRed;	
	}
}

.scrollbarOff::-webkit-scrollbar {
    width: 0px;
} 

.scrollbarOn::-webkit-scrollbar {
    width: initial;
} 