header#header {
  position: relative;
  top: 0;
  margin: 0 auto;
  max-width: 1400px;
  nav {
    display: grid;
    position: relative;
    padding: 20px 25px;
    grid-template-columns: 1fr 80px 1fr;
    grid-template-rows: 25px 25px 25px 30px;
    grid-template-areas:
      "services logo session"
      "services logo search"
      "services space search"
      "catlinks catlinks catlinks";
    & > ul > li {
      padding-right: 10px;
      &:last-child {
        padding-right: 0px;
      }
    }
    &.nav-mobile {
      padding: 15px 20px;
      grid-template-columns: 60px 50px 1fr;
      grid-template-rows: 50px;
      grid-template-areas: "menu logo session";
    }
  }

  a {
    font-weight: bold;
    font-variant-caps: all-small-caps;
  }
  .header-menu-services {
    grid-area: services;
    li {
      display: inline-block;
    }
    a {
      display: flex;
      height: 25px;
      * {
        margin-top: auto;
      }
    }
  }
  .header-menu-mobile {
    position: relative;
    margin: -3px 0 0 -3px;
  }
  .header-logo,
  .header-logo-mobile {
    grid-area: logo;
    position: relative;
    .icon-container {
      cursor: pointer;
      width: 100%;
      &:hover svg {
        fill: #ff0000;
      }
    }
    svg {
      transition: all 0.5s ease-out;
    }
  }
  .header-menu-session {
    grid-area: session;
    text-align: right;
    span {
      margin-top: auto;
    }
    svg {
      height: 80%;
      width: 80%;
    }
    .link__decorated {
      height: 25px;
    }
    &-mobile {
      grid-area: session;
      font-size: 1.8em;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      & > * {
        padding-left: 0.2em;
      }
    }
  }
  .header-menu-primary {
    grid-area: catlinks;
    display: flex;
    justify-content: space-around;
    margin: 0 5% 0;
    a:hover {
      font-size: 1.1em;
    }
  }
  .header-search {
    grid-area: search;
    margin: auto 0 auto auto;
    position: relative;
    min-width: 100px;
    .icon {
      --primary-opacity: 0.5;
      --secondary-opacity: 0.7;
    }
    input:focus + .input__dash + * .icon {
      --primary-opacity: 1;
      --secondary-opacity: 1;
    }
  }
}

@media screen and (max-width: ($md2 + px)) {
  .header-menu-services {
    display: flex;
    flex-direction: column;
    font-size: 90%;
    a {
      height: 1.25em;
    }
  }
}
@media screen and (max-width: ($md3 + px)) {
  header#header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $mainBgc;
  }
  .header-overlay {
    position: sticky;
		width: 100vw;
		height: 1px;
		top: 80px;
		margin-right: calc((100% - 100vw)/2);
		box-shadow: 0 0 10px 2px #aaa;
		z-index: 99;
		&::after {
			content: "";
			position: absolute;
			top: -15px;
			width: 100%;
			height: 16px;
			box-shadow: none;
			background-color: $mainBgc;
			z-index: 0;
		}
  }
}
@media screen and (max-width: ($md5 + px)) {
  header#header nav.nav-mobile {
    padding: 15px 10px;
    grid-template-columns: 50px 40px 1fr;
    grid-template-rows: 34px;
    font-size: 80%;
  }
  .header-overlay {
    top: 59px;
  }
  .shadow-fade.top {
    height: 85px !important;
    background: linear-gradient(to bottom, $mainBgc, $mainBgc 75px, transparent 85px) !important;
  }
}

.session-auth {
  position: relative;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  button {
    margin: 0 auto 10px;
  }
  ul.logged-in {
    li {
      text-align: left;
    }
  }
  li {
    text-align: center;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.mainmenu {
  width: 320px;
  min-height: 100%;
  font-size: 120%;
  padding: 30px 0 0 0;
  .link-account {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 10px 0 10px 15px;
    background-color: $softRed;
    .iconized {
      cursor: pointer;
    }
  }
  .iconized {
    margin-right: 20px;
    span {
      padding: 3px 0 0 5px;
    }
  }
  & > * > * {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__sliders {
    margin-left: 10px !important;
    margin-top: 54px !important;
    font-size: 120%;
    li > div > div:last-child {
      background-color: $mainBgc;
      padding-left: 10px;
    }
    button {
      margin-bottom: 10px;
    }
    li {
      strong {
        letter-spacing: 1px;
      }
    }
    //.mainmenu__sliders__link
    &__link {
      padding-left: 5px;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 30px;
      }
    }
  }
}
