h1 {
	//font-size: calc(30px + 1vw);
	font-size: 300%;
	line-height: calc(35 / 30 * 100%);
}

h2 {
	//font-size: calc(25px + 1vw);
	font-size: 250%;
	line-height: calc(25 / 20 * 100%);
	letter-spacing: 1px;
}

h3 {
	//font-size: calc(10px + 1vw);
	font-size: 150%;
	line-height: calc(20 / 14 * 100%);
	letter-spacing: 1px;
}

h4 {
	//font-size: calc(8px + 1vw);
	font-size: 120%;
	line-height: calc(15 / 10 * 100%);
}

a {
	cursor: pointer;
	//font-size: calc(15px + 0.5vw);
	letter-spacing: 0.5px;
	color: $primary;
	&:hover {
		color: $secondary;
	}
	&.dashed {
		border-bottom: 1px solid $primary;
		&:hover {
			border-bottom: 1px solid $secondary
		}
	}
}

.title {
	color: $primary;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
	&.center {
		text-align: center;
	}
}

.text {
	font-size: 80%;
	color: $primary;
	line-height: 150%;
	p {
		padding: 0 0 10px 0;
	}
	&.center {
		text-align: center;
	}

	:last-child {
		padding: 0;
	}

	@media (max-width: ($md3 + px)) {
		font-size: 70%;
	}
	@media (max-width: ($md5 + px)) {
		font-size: 60%;
	}
}

.paragraph {
	font-size: 90%;
	line-height: 1.5;
	text-indent: 3em;
	padding-top: 0.5em;
	margin-bottom: 2em;
}

.button-container {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	button {
		height: 40px;
	}
}

button {
	.button-text {
		margin-top: 1px;
	}
}


	
.preloader {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: $secondary;
	// .preloader__container
	&__container {
		position: absolute;
		width: 25%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		opacity: 0;
		animation: pl__fade 1s forwards 1 ;
		img {
			animation: appLogoSpin  infinite 1.5s 1.5s running;
		}

	}
}

@keyframes pl__fade {
	100% {
		opacity: 1;
	}
}

@keyframes appLogoSpin {
	0% {
		transform: rotate(0deg);
	}
	13% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(-20deg);
	}
	27% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

