$md3: 767.98;
.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    //background-color: #ffdddd;
    padding: 0 20px 40px;
    h4 {
    font-size: 100%;
    margin-bottom: 15px;
    }
    @media (max-width: ($md3 + px)) {
        display: none;     
    }
}

.link {
    margin-bottom: 8px;
    font-size: 90%;
    &:last-child {
        margin-bottom: 25px;
    }
}

