.input[type="text"] {
    box-sizing: border-box;
    min-width: 100px;
    height: 30px;
    /* padding: 0.5em 0.8em 0.2em 1em; */
    padding: 0.2em 0.8em 0.2em 1em;
    border: 1px solid #000;
    border-radius: 2em;
    resize: none;
    outline: none;
}
.input[type="text"]:focus {
    border: 1px solid transparent;
    background: rgb(255, 237, 237);
    /* box-shadow: 0 0 0 3px #000; */
}

.errorInput[type="text"] {
    border: 1px solid red;
    background: #fff;
}

.error {
    width: 100%;
    color: red;
    font-size: 0.8em;
    margin: -10px 0 0 6% !important;
}