//onHover
.dropmenuHover {
  position: absolute;
  right: 0;
  background-color: #e0fffc;
  z-index: 10; 
  &.closing {
    opacity: 0;
    transition: opacity .5s linear;
  }
}

//onClick
.dropdown__container {
    position: relative;
    .dropdown__menu {
        position: absolute;
        left: 0;
        top: 150%;
        //width: 200%;
        //padding: 20px 20px;
        box-shadow: 0 0 15px 1px #595855;
        opacity: 1;
        transition: opacity .2s linear .1s;
        z-index: 3;
        background-color: beige;
        label {
            transition: padding .2s linear;
        }
        //.dropdown__menu__closed
        &._closed {
            transition: opacity .2s linear;
            opacity: 0;
            label {
                transition: padding .2s linear .1s;
                padding: 0;
            }     
        }   
    }
}