$transitionTime: 600ms;
$primary: #292825;
$softRed: #ffccfc;
$mainBgc: #ffffeb;
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #00000055;
	transition: opacity $transitionTime ease-out;
	z-index: 10000;
	//.modal__revealed
	&__revealed {
		visibility: visible;
		opacity: 1;
		.modal__body._current {
			opacity: 1;
			visibility: visible;
			transform: perspective(1000px) translate(0px, 0px) rotateX(0deg) scale(1);
			&.side {
				transform: translate(0px, 0px);
			}
		}
		.modal__body._current._closing {
			opacity: 0;
			visibility: visible;
			transition: transform $transitionTime ease-out, opacity $transitionTime ease-out;
			transform: perspective(1000px) translate(0px, -100%) rotateX(70deg) scale(0.5);
			&.side {
				transform: translate(100%, 0px);
				&.left {	
				transform: translate(-100%, 0px);
				}
				&.right { 
				transform: translate(100%, 0px);
			}
			}
		}
	}
	&__closing {
		visibility: visible;
		.modal__body._current {
			opacity: 0;
			visibility: visible;
			transition: transform $transitionTime ease-out, opacity $transitionTime ease-out;
			transform: perspective(1000px) translate(0px, -100%) rotateX(70deg) scale(0.5);
			&.side {
				//transform: translate(100%, 0px);
				&.left {	
				transform: translate(-100%, 0px);
			}
				&.right { 
				transform: translate(100%, 0px);
				}
			}
		}
	}
	//.modal__area
	&__area {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		//overflow-y: hidden;
		visibility: hidden;
	}
	//.modal__body
	&__body {
		position: relative;
		width: 100%;
		visibility: hidden;
		display: flex;
  		height: 100%;
  		overflow: auto;
		opacity: 0;
		padding: 30px 10px;
		transition: transform $transitionTime ease-out, opacity 500ms ease-out;
		transform: perspective(1000px) translate(0px, 100%) rotateX(-70deg) scale(0.5);
		&.side {
			padding: 0;
			//transform: translate(100%, 0px);
			&.left {	
				transform: translate(-100%, 0px);
			}
			&.right { 
				transform: translate(100%, 0px);
			}
		}
	}
	//.modal__paper
	&__paper {
		position: relative;
		margin: auto;
		//width: 100%;
		padding: 50px;
		background-color: $softRed;	
		box-shadow: 0 0 100px 1px #595855;
		&._upper {
			box-shadow: 0 0 20px 2px $primary;
		}
		&.side {
			display: flex;
			min-height: 100vh;
			padding: 0;
			background-color: $mainBgc;
			&.left {	
				margin: 0 auto 0 0;
			}
			&.right { 
				margin: 0 0 0 auto;
			}
		}
	}
}

.scrollbarOff::-webkit-scrollbar {
    width: 0px;
} 

.scrollbarOn::-webkit-scrollbar {
    width: initial;
} 

@keyframes splash {
    0% {
        opacity: 1;
        transform: scale(0.5) translateX(-0.5px);
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
        transform: scale(4) translateX(0);
    }
}