.minicart {
    position: relative;
    min-width: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #fff4f4;
    &__carousel {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 10px;
        .carousel__controls {
            cursor: pointer;
            position: relative;
            margin: 0 auto auto;
            height: 30px;
            width: 30px;
            & > *:hover::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 50%;
                background-color: #0002;
            }
        }
        .carousel__view {
            overflow: hidden;
        }   
        
    }
    // .minicart__items
    &__items {
        max-height: 21.6em;
        display: flex;
        flex-direction: column;
        //flex-wrap: nowrap;
        
        transition: all 0.5s ease-out;
        ul {
			display: flex;
            flex-direction: column;
			flex-wrap: nowrap;
		}
    }
    // .minicart__item
    &__item {
        height: 9em;
        display: flex;
        font-size: 80%;
        text-align: left;
        &__imgContainer {
            height: 100%;
            width: 6em;
            display: flex;
            flex: 0 0 6em;
            img {
                object-fit: cover;
                max-width: 90%;
                max-height: 90%;
                margin: auto;
            }
        }
        // .minicart__item__desc
        &__desc {
            h4 {
                font-size: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            padding: 5px;
            table {
                font-size: 90%;
                border-spacing: 0;
                //display: grid;
                //grid-template-columns: 5em auto;
                * {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                td:first-child {
                    padding-right: 1em;    
                }
            }
        }
        
    }
    &__actions {
        a {
            width: 100%;
            font-variant-caps: initial !important;
        }
        button {
            width: 100%;
        }
    }
    &__info__empty {
        text-align: center;
        padding: 20px 0;
    }
}