.input {
    position: relative;
    height: calc(100% - 2px);
    top: 0;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff00;
    resize: none;
    outline: none;   
}
.input[type="password"]:not([value=""]) {
    text-indent: 1px;
    letter-spacing: 4px;
    -webkit-text-stroke: 4px #292825;   
}

.input:focus::after {
    height: 3px;
}

.error {
    border-bottom: 3px solid red;
}