$md3: 767.98;
$md4: 666.98;
$md5: 479.98;
$altBgc: #fdd6d6;

.header {
    text-align: center;
    margin-bottom: 20px;
}
.cart {
    display: flex;
    @media (max-width: ($md3 + px)) {
        flex-direction: column;
    }
}
.cartlist {
    width: 65%;
    margin-right: 5%;
    flex: 1 0 auto;
    @media (max-width: ($md3 + px)) {
        width: 100%;
        margin-right: 0;
        padding: 0 15px;
    }
    .item {
        //height: 150px;
        display: flex;
        font-size: 80%;
        text-align: left;
        margin-bottom: 10px;
        &__imgContainer {
            height: 100%;
            width: 150px;
            display: flex;
            flex: 0 0 150px;
            img {
                object-fit: cover;
                max-width: 150px;
                max-height: 150px;
                margin: auto;
            }
        }
        // .minicart__item__desc
        &__desc {
            position: relative;
            flex: 1 0 auto;
            padding: 5px;
            h4 {
                font-size: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .table {
                font-size: 90%;
                display: grid;
                grid-template-columns: 5em auto;
                * {
                    //overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                p {
                    margin-right: 1em;
                }
            }
            .delete {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                height: 30px;
                width: 30px;
                &:hover {
                    &::before {
                    content: "";
                    position: absolute;
                    top: -3px;
                    right: -3px;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background-color: #0002;
                }
                    svg {
                        --primary: #f00;
			            --secondary: #e50010;
                }
                }
                
            }
        }
    }
}

.quantityToggle {
    //display: flex;
    cursor: pointer;
    width: 50px;
    border: 1px solid #292825;
    border-radius: 2px;
    margin-bottom: 5px;
    .icon {
        top: -5px;
    }
}

.quantityMenu {
    cursor: pointer;
    top: 102%;
    width: 100%;
    li {
        padding: 2px 5px;
        &:hover {
            background-color: #dceaf7;
        }
    }
}

.emptyCartPlaceholder {
    text-align: left;
    h4 {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 20px;
    }
    button {
        cursor: pointer;
        text-decoration: underline;
        &:hover {
            color: #5555ff
        }
    }
}

.sidebar__container {
    position: relative;
    .sidebar {
        text-align: left;
        padding: 15px;
        margin-bottom: 90px;
        position: sticky;
        top: 0;
        background-color: $altBgc;
        @media (max-width: ($md3 + px)) {
            background-color: inherit;
        }
        p {
            width: 100%;
            font-size: 80%;
        }
        .discount {
            display: flex;
            width: 100%;
            margin-bottom: 15px;
            button {
                cursor: pointer;
                font-size: 80%;
                width: max-content;
                white-space: nowrap;
                text-decoration: underline;
                &:hover {
                    color: #5555ff
                }
            }
        }
        .login {
            height: 80px;
            p {
                margin-bottom: 5px;
            }  
        } 
        .button {
            display: flex;
            align-items: center;
            
            font-size: 80%;
            height: 38px;
            margin-bottom: 5px;
            button {
                width: 100%;
                @media (max-width: ($md3 + px)) {
                    width: 45%;
                }
                @media (max-width: ($md5 + px)) {
                    width: 80%;
                }
            }
        } 
        .marketingMessage {
            margin-bottom: 15px;
            font-size: 70%;
        }
        .paymentModes {
            margin-bottom: 25px;  
            ul {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                li {
                    padding-right: 10px;
                }
                li:last-child {
                    padding-right: 0;
                }
            }
            // .paymentModes__icon
            &__icon {
                position: relative;
                height: 34px;
                width: 34px;
                svg {
                    width: 34px;
                }
            }
        }
        .generalText {
            margin-top: 15px;
            font-size: 70%;
            button {
                cursor: pointer;
                width: max-content;
                white-space: nowrap;
                text-decoration: underline;
                &:hover {
                    color: #5555ff
                }
            }
        }
       .deliveryInfo__container {
           position: absolute;
           left: 0;
           bottom: -75px;
           width: 100%;
           background-color: #fdd6d6;
           .deliveryInfo {
               cursor: pointer;
               position: relative;
               display: flex;
               align-items: center;
               justify-content: space-between;
               margin: 15px;
               span {
                    display: flex;
                    align-items: center;
                    height: 2em;
                    font-size: 80%;
                    //padding: 0 35px;
               }    
           }
       } 
    }
}

.total {
    width: 100%;
    font-size: 80%;
    & > * {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        
    }
    footer {
        position: relative;
        padding-top: 5px;
    }
    footer::before {
        content: "";
        position: absolute;
        width: 100%;
        top: -2px;
        height: 2px;
        background-color: #292825;
    }
}
