header#header {
  position: relative;
  top: 0;
  left: 0;
  padding: 20px 25px;
  nav {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 80px 1fr;
    grid-template-rows: 25px 25px 25px 30px;
    grid-template-areas: 
    "services logo session"
    "services logo search"
    "services space search" 
    "primary primary primary";
    & > ul > li {
    padding-right: 10px;
    &:last-child {
      padding-right: 0px;
    }
  }
  }
  
  a {
    font-weight: bold;
	  font-variant-caps: all-small-caps;
  }
  .header-menu-services {
    grid-area: services;
    a {
      display: flex;
      height: 25px;
      * {
        margin-top: auto;
      }
    }
  }
  .header-logo {
    grid-area: logo;
    svg {
      transition: all .5s ease-out;
    }
    div#logo {
      cursor: pointer;
    }
    div#logo:hover svg {
      fill: #ff0000;
    }
  }
  .header-menu-session {
    grid-area: session;
    text-align: right;
    span {
      margin-top: auto;
      
    }
    svg {
      height: 80%;
      width: 80%;
    }
    .link__decorated {
      height: 25px;
    }
      
  }
  .header-menu-primary {
    grid-area: primary;
    display: flex;
    justify-content: space-around;
    margin: 0 5% 0;
    a:hover {
      font-size: 1.1em;
    }
  }
  .header-search {
    grid-area: search;
    margin: auto 0 auto auto;
    position: relative;
    min-width: 100px;
    height: 30px;
  }
}

.drop-menu {
  position: absolute;
  right: 0;
  background-color: $softRed;
  z-index: 10;
  .session {
    position: relative;
    min-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    button {
      margin: 0 auto 10px;
    }
    li {
      text-align: center;
      margin-bottom: 10px;
      &:last-child {
      margin-bottom: 0;
    }
    }
  }
}


