.icon-container {
    position: absolute;
		width: 30px;
		height: 100%;
		//display: flex;
		//flex-direction: column;
		//align-items: center;
		.icon.full {
			transform: scale(1.05);
		}
		&._left {
			left: 0;	
		}
		&._right {
			right: 0;
		}
}

._rotate {
	&_1 {
		transform: rotate(90deg);
	}
	&_2 {
		transform: rotate(180deg);
	}
	&_3 {
		transform: rotate(270deg);
	}
}

.icon {
	position: relative;
	margin: auto;
	height: calc(100% / 1.415); //sqrt(2) =)
	width: calc(100% / 1.415);
	z-index: 2;
	&.full {
		height: 100%;
		width: 100%;
	}
	&__rotate {
		position: absolute;
		display: flex;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	&__session {
		--primary: #292825;
		--secondary: #292825;
		a:hover & {
			--primary: #E50010;
			--secondary: #E50010;
		}
	}
	&__layout {
		--primary: #5555ff;
		--secondary: #292825;
		&:hover {
			--primary: #292825;
			--secondary: #00bb00;
		}
		&.active {
			--primary: #292825;
			--secondary: #00bb00;
		}
	}
	&__chevron-btn {
		transform: translateY(-5%);
    	fieldset:hover & {
        	animation: floatY 1s linear 10;
    	}
    	&._close {
        top: 7%;
   		}
	}

	&-magnifying-glass {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(0, 0);
		height: calc(100% / 1.2);
		width: calc(100% / 1.2);
		--primary-opacity: 0.5;
		--secondary-opacity: 0.7;
	}
	&.inactive {
		--primary-opacity: 0.3;
		--secondary-opacity: 0.3;
	}
	&.focused {
		--primary-opacity: 1;
		--secondary-opacity: 1;
	}
	
@keyframes floatY {
    0% {
        transform: translateY(-5%);
    }
    25% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-5%);
    }
    75% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(-5%);
    }
}





//------------------test--------------------------------------
	&__container.test {
		position: relative;
		height: 70px;
		width: 70px;
		transition: all 1s ease-in-out 10s;
		&:hover {
			transition: all 0s ease-in-out;
			//transform: rotate(90deg);
		}
	}
	&.test {
		position: initial;
		
		transform: translate(0, 0);
		height: initial;
		width: initial;
		z-index: 0;
		svg {
		--primary: #ffbb00;
		--primary-opacity: 0.8;
		--secondary: #2600ff;
		--secondary-opacity: 0.8;
		&:hover {
		--primary: #ffbb00;
		--primary-opacity: 1;
		--secondary: #2600ff;
		--secondary-opacity: 1;
		}
	} 
	}
	&.test.dimmed {
		.icon__container.test {
			border-radius: 50%;
			background-color: #55000033;
		}
	}

}