h1 {
	//font-size: calc(30px + 1vw);
	font-size: 300%;
	line-height: calc(35 / 30 * 100%);
}

h2 {
	//font-size: calc(25px + 1vw);
	font-size: 250%;
	line-height: calc(25 / 20 * 100%);
	letter-spacing: 1px;
}

h3 {
	//font-size: calc(10px + 1vw);
	font-size: 150%;
	line-height: calc(20 / 14 * 100%);
	letter-spacing: 1px;
}

h4 {
	//font-size: calc(8px + 1vw);
	font-size: 120%;
	line-height: calc(15 / 10 * 100%);
}

a {
	cursor: pointer;
	//font-size: calc(15px + 0.5vw);
	letter-spacing: 0.5px;
	color: $primary;
	&:hover {
		color: $secondary;
	}
	&.dashed {
		border-bottom: 1px solid $primary;
		&:hover {
			border-bottom: 1px solid $secondary
		}
	}
}

.link__decorated {
	position: relative;
	display: flex;
    align-items: center;
	span {
		padding-left: 30px;
	}
}

.title {
	color: $primary;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
	&.center {
		text-align: center;
	}
}

.text {
	font-size: 80%;
	color: $primary;
	line-height: 150%;
	p {
		padding: 0 0 10px 0;
	}
	&.center {
		text-align: center;
	}

	:last-child {
		padding: 0;
	}

	@media (max-width: ($md3 + px)) {
		font-size: 70%;
	}
	@media (max-width: ($md4 + px)) {
		font-size: 60%;
	}
}
//var (--primary, #000)

.icon {
	position: relative;
	margin: auto;
	height: calc(100% / 1.415); //sqrt(2) =)
	width: calc(100% / 1.415);
	z-index: 2;
	&.full {
		height: 100%;
		width: 100%;
	}
	&__container {
		position: absolute;
		width: 30px;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		.icon.full {
			transform: scale(1.05);
		}
		&._left {
			left: 0;
			
		}
		&._right {
			right: 0;
		}
	}
	&__session {
		--primary: #292825;
		--secondary: #292825;
		a:hover & {
			--primary: #E50010;
			--secondary: #E50010;
		}
	}
	&-magnifying-glass {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(0, 0);
		height: calc(100% / 1.2);
		width: calc(100% / 1.2);
		--primary-opacity: 0.5;
		--secondary-opacity: 0.7;
	}
	&.focused {
		--primary-opacity: 1;
		--secondary-opacity: 1;
	}
	






//------------------
	&__container.test {
		position: relative;
		height: 70px;
		width: 70px;
		transition: all 1s ease-in-out 10s;
		&:hover {
			transition: all 0s ease-in-out;
			//transform: rotate(90deg);
		}
	}
	&.test {
		position: initial;
		
		transform: translate(0, 0);
		height: initial;
		width: initial;
		z-index: 0;
		svg {
		--primary: #ffbb00;
		--primary-opacity: 0.8;
		--secondary: #2600ff;
		--secondary-opacity: 0.8;
		&:hover {
		--primary: #ffbb00;
		--primary-opacity: 1;
		--secondary: #2600ff;
		--secondary-opacity: 1;
		}
	} 
	}
	&.test.dimmed {
		.icon__container.test {
			border-radius: 50%;
			background-color: #000000cc;
		}
	}

}

	
.preloader {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: $secondary;
	// .preloader__container
	&__container {
		position: absolute;
		width: 25%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		opacity: 0;
		animation: pl__fade 1s forwards 1 ;
		img {
			animation: appLogoSpin  infinite 1.5s 1.5s running;
		}

	}
}

@keyframes pl__fade {
	100% {
		opacity: 1;
	}
}

@keyframes appLogoSpin {
	0% {
		transform: rotate(0deg);
	}
	13% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(-20deg);
	}
	27% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

