header {
  position: relative;
  top: 0;
  left: 0;
  padding: 20px;
  nav {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 80px 1fr;
    grid-template-rows: 50px 20px 30px;
    grid-template-areas: 
    "services logo session"
    "space space space" 
    "primary primary primary";
  }
  li {
    padding-right: 10px;
    &:last-child {
      padding-right: 0px;
    }
  }
  a {
    font-weight: bold;
	  font-variant-caps: all-small-caps;
  }
  .header-menu-services {
    grid-area: services;
  }
  .header-logo {
    grid-area: logo;
    svg {
      transition: all .5s ease-out;
    }
    div#logo {
      cursor: pointer;
    }
    div#logo:hover svg {
      fill: #ff0000;
    }
  }
  .header-menu-session {
    grid-area: session;
    text-align: right;
  }
  .header-menu-primary {
    grid-area: primary;
    display: flex;
    justify-content: space-around;
    margin: 0 100px 0;
    a:hover {
      font-size: 1.1em;
    }
  }
  .header-search {
    position: absolute;
    bottom: 40px;
    right: 0;
  }
}


