.page {
	width: 100%;
	height: fit-content;
	position: relative;
	z-index: 2;
	perspective: 5000px;
	scroll-behavior: smooth;
	@media (max-width: $md4+px) {
		perspective: 50000px;
	}
	// .page__hero
	&__hero {

		height: fit-content;
		transform-style: flat;
		@media (max-width: $md4+px) {
			/*      transform-style: preserve-3d;*/
		}

	}

	// .page__about
	&__about {
	}

	// .page__skills
	&__skills {
	}

	// .page__projects
	&__projects {
	}

}

.hero {
	margin: 0 auto;
	max-width: 1200px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 120px 33px 40px 33px;
	z-index: 10;
	transition: all 500ms 0s cubic-bezier(0.3, 1, 1, 1);
	@media (max-width: $md2+px) {
		padding: 120px 25px 40px 25px;
	}
	@media (max-width: $md4+px) {
		justify-content: flex-start;
		padding: 30px 20px 40px 20px;
		margin-top: 66px;
	}
	// .hero__container
	&__container {
		width: 100%;
		display: flex;
		align-items: center;
		@media (max-width: $md3+px) {
			justify-content: center;
			flex-direction: column;
			.hero__btn1 {
				display: none;
			}
		}
	}

	// .hero__desc
	&__desc {
		flex: 1 1 auto;
		padding: 0 50px 0 0;

		*:last-child {
			margin-bottom: 0;
		}

		@media (max-width: $md2+px) {
			padding: 0 30px 0 0;
		}

		@media (max-width: $md3+px) {
			padding: 0;
		}
	}

	// .hero__title
	&__title {
		@media (max-width: $md4+px) {
			h1 {
				font-size: 35px;
			}
			h2 {
				font-size: 23px;
			}

			h3 {
				font-size: 18px;
			}
		}
		@media (prefers-reduced-motion: no-preference) {
			.stringOne {
				animation: __glow infinite 15s ease .8s;
			}
			.stringTwo {
				animation: __glow infinite 15s ease 1.8s;
			}
			.stringThree {
				animation: __glow infinite 15s ease 2.8s;
			}

			@include glow()
		}
	}

	// .hero__btn1
	&__btnA {
		@media (max-width: $md3+px) {
			display: none !important;
		}
	}

	// .hero__btn2
	&__btnB {
		@media (min-width: $md3+px) {
			display: none !important;
		}
	}

	// .hero__img
	&__img {
		/* flex: 0 2 auto;*/
		position: relative;
		z-index: 10;
		max-width: 400px;

		@media (max-width: $md3+px) {
			max-width: 300px;
			margin-bottom: 40px;
		}
		@media (max-width: $md4+px) {
			max-width: 250px;
			margin-bottom: 40px;
		}

		img {
			z-index: 10;
			max-width: 100%;
			border-radius: 5px;
			/*     object-fit: cover;*/
			box-shadow: 0 0 10px 5px black;
		}
	}
}

//=====================================================================================================================
.about {
	margin: 0 auto 30px;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 33px 40px 33px;
	@media (max-width: $md4+px) {
		padding: 30px 20px 40px 20px;
	}
	// .about__container
	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;

		@media (max-width: $md4+px) {
			align-items: center;
		}
	}

	// .about__title
	&__title {
		align-items: flex-end;
		@media (max-width: $md4+px) {
			align-items: center;
		}
		@media (prefers-reduced-motion: no-preference) {
			.stringThree {
				animation: __glow infinite 15s ease .3s;
			}
			@include glow()
		}
	}

	// .about__text
	&__text {
		margin-bottom: 30px;
		@media (max-width: $md4+px) {
			font-size: 18px;
		}
	}

	// .about__btn
	&__btn {
		display: flex;
	}
}

//=====================================================================================================================
.skills {
	margin: 0 auto 30px;
	max-width: 1200px;
	padding: 20px 33px 40px 33px;
	display: flex;
	justify-content: center;
	@media (max-width: $md4+px) {
		padding: 30px 0 40px 0;
	}
	// .skills__container
	&__container {
		width: 100%;
	}

	// .skills__title
	&__title {
		margin-bottom: 60px;
		@media (max-width: $md4+px) {
			align-items: center;
		}
		@media (prefers-reduced-motion: no-preference) {
			.stringThree {
				animation: __glow infinite 15s ease .3s;
			}
			@include glow()
		}
	}

	// .skills__cards
	&__cards {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 50px;

		@media (max-width: $md1+px) {
			grid-gap: 30px;
		}
		@media (max-width: $md2+px) {
			grid-gap: 20px;
		}
		@media (max-width: $md3+px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .skills__card
	&__card {
		background-color: $bg;
		border-radius: 5px;
		@media (max-width: $md3+px) {
			max-width: 450px;
		}
		// .skills__card__container
		&__container {
			position: relative;
			//z-index: 1;
			padding: 10px;
		}

		&__header {
			/*      position: relative;
				  z-index: 5;*/
			display: flex;
			transform: translate(-30px, -30px);
			@media (max-width: $md3+px) {
				transform: translate(-35px, -30px);
			}
		}

		// .skills__card__img
		&__img {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 0;
			width: 120px;
			height: 120px;
			background-color: $secondary;
			border-radius: 50%;
			@media (max-width: $md2+px) {
				width: 100px;
				height: 100px;
			}

			@media (max-width: $md3+px) {
				width: 150px;
				height: 150px;
			}
			@media (max-width: $md4+px) {
				width: 150px;
				height: 150px;
			}

			img {
				max-width: 60%;
				max-height: 60%;
				object-fit: cover;

			}
		}
		// .skills__card__splashDesc
		&__splashDesc {
			position: absolute;
			cursor: pointer;
			font-family: Minecraftia, monospace;
			text-transform: uppercase;
			font-size: 16px;
			color: #fff000;
			text-align: right;
			right: 15px;
			top: 75px;
			z-index: 6;
			transform: rotate(-10deg);
			animation: __splashPulse infinite 1.5s linear;
			@media (max-width: $md3+px) {
				right: 20px;
				top: 100px;
			}
			@media (max-width: $md4+px) {
				font-size: 14px;
				right: 10px;
			}

			&:hover {
				opacity: 0;
				z-index: 10;

				+ .skills__card__splash {
					position: absolute;
					z-index: 9;
					opacity: 1;
				}


			}

		}
		&:nth-child(3n-1) .skills__card__splashDesc {
			animation: __splashPulse infinite 1.5s 0.5s linear;
		}
		&:nth-child(3n) .skills__card__splashDesc {
			animation: __splashPulse infinite 1.5s linear;
		}
		&:nth-child(3n+1) .skills__card__splashDesc {
			animation: __splashPulse infinite 1.5s 1s linear;
		}

		// .skills__card__title
		&__title {
			z-index: 1;
			justify-content: center;
			font-size: 30px;
			margin: 0 -30px 0 15px;
			@media (max-width: $md2+px) {
				font-size: 20px;
			}

			// skills__card__title__reduced
			&__reduced h4 {
				font-size: 23px;
				line-height: 1em;
				@media (max-width: $md2+px) {
					font-size: calc(2vw);
				}
				@media (max-width: $md3+px) {
					font-size: calc(15px + 2vw);
				}
			}
		}

		// .skills__card__splash
		&__splash {
			opacity: 0;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			position: absolute;
			z-index: 5;
			width: 350px;
			height: 350px;
			@media (max-width: $md4+px) {
				width: 300px;
				height: 300px;
			}

			img {
				position: relative;
				z-index: 100;
				width: 100%;
				max-height: 100%;
				object-fit: contain;
			}
		}

		&:nth-child(3n-1) .skills__card__splash {
			transform: translate(0px, -100px) rotate(-5deg);
			@media (max-width: $md3+px) {
				transform: translate(0px, -100px) rotate(-5deg);
			}
		}

		&:nth-child(3n) .skills__card__splash {
			transform: translate(-50px, -100px) rotate(-10deg);
			@media (max-width: $md2+px) {
				transform: translate(-100px, -100px) rotate(-10deg);
			}
			@media (max-width: $md3+px) {
				transform: translate(0px, -100px) rotate(-10deg);
			}
		}

		&:nth-child(3n+1) .skills__card__splash {
			transform: translate(0px, -100px) rotate(10deg);
			@media (max-width: $md3+px) {
				transform: translate(0px, -100px) rotate(10deg);
			}
		}

		// .skills__card__splashDesc


		// .skills__card__text
		&__text {
			z-index: 1;
			transform: translateY(-10px);
			padding: 0 10px 0;
		}
	}
}

//===================================================================================================================
.projects {
	margin: 0 auto 30px;
	max-width: 1200px;
	padding: 20px 33px 40px 33px;
	display: flex;
	justify-content: center;
	@media (max-width: $md4+px) {
		padding: 30px 0 40px 0;
	}
	// .projects__container
	&__container {
      width: 100%;
      display: flex;
      flex-direction: column;

      @media (max-width: $md4+px) {
        align-items: center;
      }
	}

	// .projects__title
	&__title {
      	align-items: flex-end;
		margin-bottom: 60px;
		@media (max-width: $md4+px) {
			align-items: center;
		}
		@media (prefers-reduced-motion: no-preference) {
			.stringThree {
				animation: __glow infinite 15s ease .3s;
			}
			@include glow()
		}
	}

	// .projects__cards
	&__cards {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 50px;

		@media (max-width: $md1+px) {
			grid-gap: 30px;
		}
		@media (max-width: $md2+px) {
			grid-gap: 20px;
		}
		@media (max-width: $md3+px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .projects__card
	&__card {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		&:nth-child(2n) {
			flex-direction: row-reverse;
		}


		// .projects__card__container
		&__container {

		}


		// .projects__card__img
		&__img {
			position: relative;
			width: 500px;

			@media (max-width: $md2+px) {
				width: 400px;
			}

			@media (max-width: $md3+px) {
				max-width: 450px;
				width: 100%;
			}


			img {
				max-width: 100%;
				max-height: 100%;
				object-fit: cover;
				&:hover + div {
					transform: rotate(0deg);
					animation: bounce 1 1s .5s linear;
				}

			}

			div {
				width: 100%;
				position: absolute;
				bottom: 0;
				text-transform: uppercase;
				text-decoration: none;
				text-align: center;
				color: transparent;
				-webkit-text-stroke: 3px $bg;
				font-size: 68px;
				line-height: 1;
				font-weight: bold;
				transform: rotate(90deg);
				transform-origin: 500 - 34px;
				transition: transform .5s cubic-bezier(1, 0.3, 1, 0.5);
				&:hover {
					transform: rotate(0deg);
					animation: bounce 1 1s .5s linear;
				}
				@media (max-width: $md2+px) {
					font-size: 54px;
					transform-origin: 400 - 27px;
				}

				@media (max-width: $md3+px) {
					display: none;
				}

			}
		}
		// .projects__card__descBlock
		&__descBlock {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
/*			padding: 20px;*/
			@media (max-width: $md3+px) {
				position: absolute;
				z-index: 10;
				bottom: 0;
				margin: 10px;
			}
		}
		// .projects__card__descBlockContainer
		&__descBlockContainer {
			background-color: $bg;
			border-radius: 5px;
		}

		// .projects__card__title
		&__title {
			padding: 10px 15px 10px;
			font-size: 30px;
			margin-bottom: 0;

			@media (max-width: $md2+px) {
				font-size: 20px;
			}
		}
		// .projects__card__desc
		&__desc {
			display: flex;
			justify-content: flex-end;
			padding: 10px 15px 10px;
			text-indent: 0;
		}
	}
}
//===================================================================================================================
.contacts {
	margin: 0 auto 30px;
	max-width: 1200px;
	padding: 20px 33px 40px 33px;
	display: flex;
	justify-content: center;
	@media (max-width: $md4+px) {
		padding: 30px 0 40px 0;
	}
	// .contacts__container
	&__container {
		width: 100%;
	}
	// .contacts__title
	&__title {
		margin-bottom: 60px;
		@media (max-width: $md4+px) {
			align-items: center;
		}
		@media (prefers-reduced-motion: no-preference) {
			.stringThree {
				animation: __glow infinite 15s ease .3s;
			}
			@include glow()
		}
	}
	// .contacts__body
	&__body {
		display: flex;
		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}

	// .contacts__form
	&__form {
		width: 60%;
		flex: 1 1 auto;
		@media (max-width: $md3+px) {
			width: 100%;
			margin-bottom: 40px;
		}
	}

	// .contacts__map__container
	&__map__container {
		width: 45%;
		height: 350px;
		background-color: #ff00ff;
		@media (max-width: $md3+px) {
			width: 100%;
		}
	}

	// .contacts__map
	&__map {
		width: 100%;
		height: 100%;
		-webkit-filter: invert(90%) hue-rotate(180deg) grayscale(0.3);
		filter: invert(90%) hue-rotate(180deg) grayscale(0.3);
	}
}
//===================================================================================================================
$time: 330ms;
$number-of-frames: 11;
$frame-duration: $time / $number-of-frames;

@keyframes frame-animation {
	100% {
		transform: translateX(-(($number-of-frames - 1)/$number-of-frames) * 100%)
	}
}

.epic {
	position: relative;
	// .epic__block
	&__block {
		position: relative;
		bottom: -4px;
		width: 100%;
		right: 0;
		z-index: 0;
		@media (max-width: $md3+px) {
			width: 150%;
			right: 25%;
		}
	}
	// .epic__hero
	&__hero {
		position: absolute;
		z-index: 1;
		bottom: 5px;
		right: -15%;
		width: 90%;
		-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
		mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
		@media (max-width: $md3+px) {
			width: 75%;
			right: -5%;
		}
		// .epic__hero__frames
/*		.Animation {
			margin: 0 auto;
			max-width: 100px;
			overflow: hidden;
			font-size: 50px;
			margin-bottom: 20px;
		}*/

		&__frames {
			animation: frame-animation $time 1;
			animation-timing-function: steps($number-of-frames - 1);
			animation-delay: 2s;
			animation-fill-mode: forwards;
			display: flex;
			width: $number-of-frames * 100%;
		}
		// .epic__hero__frame
		&__frame {
			display: block;
			width: 100% / $number-of-frames;
			max-width: 100% / $number-of-frames;
			flex-basis: 100% / $number-of-frames;
		}

	}
	// .epic__fire
	&__fire {
		opacity: 1;
		width: 101%;
		margin-left: -1%;
		margin-bottom: -1%;
/*		-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
		mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));*/
/*		@media (max-width: $md3+px) {
			width: 150%;
			right: -100px;
		}*/
	}
	// .epic__gradient
	&__gradient {
		position: absolute;
		top: 0;
		width: 100%;
		height: 10%;
		background: linear-gradient(to top, transparent, $secondary);

	}
}


@media (prefers-reduced-motion: no-preference) {

	/*-------------------title string---------------------*/

	.__L1 {
		@include anim_fadein(__L1, 0s)
	}
	.__L2 {
		@include anim_fadein(__L2, 0s)
	}
	.__L3 {
		@include anim_fadein(__L3, 0s)
	}
	.__L4 {
		@include anim_fadein(__L4, 0s)
	}
	.__L5 {
		@include anim_fadein(__L5, 0s)
	}
	.__L6 {
		@include anim_fadein(__L6, 0s)
	}
	.__L7 {
		@include anim_fadein(__L7, 0s)
	}
	.__L8 {
		@include anim_fadein(__L8, 0s)
	}
	.__L9 {
		@include anim_fadein(__L9, 0s)
	}
	.__L10 {
		@include anim_fadein(__L10, 0s)
	}
	.__L11 {
		@include anim_fadein(__L11, 0s)
	}
	.__L12 {
		@include anim_fadein(__L12, 0s)
	}
	.__L13 {
		@include anim_fadein(__L13, 0s)
	}
	.__L14 {
		@include anim_fadein(__L14, 0s)
	}
	.__L15 {
		@include anim_fadein(__L15, 0s)
	}
	.__L16 {
		@include anim_fadein(__L16, 0s)
	}
	.__L17 {
		@include anim_fadein(__L17, 0s)
	}
	.__L18 {
		@include anim_fadein(__L18, 0s)
	}
//-----------------------------------------
	.__R1 {
		@include anim_fadein(__R1, 0s)
	}
	.__R2 {
		@include anim_fadein(__R2, 0s)
	}
	.__R3 {
		@include anim_fadein(__R3, 0s)
	}
	.__R4 {
		@include anim_fadein(__R4, 0s)
	}
	.__R5 {
		@include anim_fadein(__R5, 0s)
	}
	.__R6 {
		@include anim_fadein(__R6, 0s)
	}
	.__R7 {
		@include anim_fadein(__R7, 0s)
	}
	.__R8 {
		@include anim_fadein(__R8, 0s)
	}
	.__R9 {
		@include anim_fadein(__R9, 0s)
	}
	.__R10 {
		@include anim_fadein(__R10, 0s)
	}
	.__R11 {
		@include anim_fadein(__R11, 0s)
	}

	@include fadein(__L1, -600px);
	@include fadein(__L2, 1700px);
	@include fadein(__L3, -500px);
	@include fadein(__L4, 2300px);
	@include fadein(__L5, -1000px);
	@include fadein(__L6, -400px);
	@include fadein(__L7, 1800px);
	@include fadein(__L8, -700px);
	@include fadein(__L9, 1900px);
	@include fadein(__L10, -600px);
	@include fadein(__L11, 1700px);
	@include fadein(__L12, -500px);
	@include fadein(__L13, 2300px);
	@include fadein(__L14, -1000px);
	@include fadein(__L15, -900px);
	@include fadein(__L16, 1400px);
	@include fadein(__L17, -1100px);
	@include fadein(__L18, 1500px);

	@include fadein(__R1, 600px);
	@include fadein(__R2, -1700px);
	@include fadein(__R3, 500px);
	@include fadein(__R4, -2300px);
	@include fadein(__R5, 1000px);
	@include fadein(__R6, 400px);
	@include fadein(__R7, -1800px);
	@include fadein(__R8, 700px);
	@include fadein(__R9, -1900px);
	@include fadein(__R10, 600px);
	@include fadein(__R11, -1700px);

	/*-------------------special chars---------------------*/

	.__exc1 {
		@include anim_fadein(__exc1, 0s)
	}
	.__apo1 {
		@include anim_fadein(__apo1, 1s)
	}
	@include fadein(__exc1, 1500px);
	@include fadein(__apo1, 1300px);

}

@keyframes bounce {
	1% {
		transform: rotate(0deg);
	}
	5% {
		transform: rotate(10deg);
	}
	13% {
		transform: rotate(19deg);
	}
	15% {
		transform: rotate(20deg);
	}
	20% {
		transform: rotate(19deg);
	}
	25% {
		transform: rotate(10deg);
	}
	30% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(5deg);
	}
	50% {
		transform: rotate(0deg);
	}
	60% {
		transform: rotate(1deg);
	}
	70% {
		transform: rotate(0deg);
	}
	73% {
		transform: rotate(0.5deg);
	}
	80% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@include splashPulse()

@keyframes blinking {
	50% {
		border-color: $primary
	}
	100% {
		border-color: #ff0000;
	}
}
